<!DOCTYPE html>
<html>
<head>
	<title>File Upload</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<div class="container">		
		<h3>Upload file</h3>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="file" name="document">
			<button type="submit">Upload File</button>
		</form>
	</div>
</body>
</html>